h1 {
    background-color: darkblue;
    color: white;
    padding: 16px;
    text-align: center;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 10px;
}